.tracking-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #42b883;
  border: 1px solid #fcfcfc;
  padding: 20px;
  color: #fcfcfc;
  border-radius: 5px;
}