.header {
  height: 80px;
  width: 100%;
  background-color: #07484b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;
  

  h1 {
    font-family: 'Exo 2', sans-serif;
    color: #fcfcfc;
    font-weight: 900;
  }
}

.add-item-icon {
  cursor: pointer;
  color: #fcfcfc;
}