/* https://coolors.co/042a2b-fcfcfc-f4e04d-42b883-51344d */
/* font-family: 'Exo 2', sans-serif;
font-family: 'PT Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;900&family=Open+Sans&display=swap');
/* @import-normalize;
@import "sanitize.css"; */

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #042a2b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
